.content {
  margin-top: 30px;
}

.list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.trigger {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: var(--padding-tabs-standard);

  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-dark-100);
  text-align: center;
  text-wrap: nowrap;

  border-bottom: var(--border-size-bold) solid var(--color-dark-100);

  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(35 78 153 / 15%);
  }

  &[data-disabled] {
    cursor: default;
    color: var(--color-dark-300);
    background-color: var(--color-dark-900);
  }

  &[data-state='active'] {
    color: var(--color-accent-500);
    background-color: rgb(115 165 255 / 15%);
    border-color: var(--color-accent-500);
  }

  &[data-state='active']:disabled {
    color: var(--color-accent-900);
    border-bottom: 2px solid var(--color-accent-900);
  }

  &:focus-visible {
    border-radius: var(--border-radius-xs);
    outline: var(--outline-size-standard) solid var(--color-accent-700);
  }
}

.ripple {
  position: relative;
  transform: translate3d(0, 0, 0);
  overflow: hidden;

  &::after {
    pointer-events: none;
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    transform: scale(10, 10);

    display: block;

    width: 100%;
    height: 100%;

    opacity: 0;
    background-image: radial-gradient(circle, rgb(19 48 210 / 60%) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;

    transition: transform 0.5s,
    opacity 1s;
  }

  &:active::after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
  }
}
