.chartContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 416px;
}

.chartTitleContainer {
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.chartTitle {
  margin-left: 12px;
  text-wrap: nowrap;
}

.legend {
  margin-right: 30px;
  margin-left: 10px;
  transition: all 0.2s;
}

.inactiveLegend {
  color: var(--color-dark-100);
}

.activeLegend {
  color: var(--color-light-100);
}
