:root {
  /* border radius */
  --border-radius-rounded: 50%;
  --border-radius-s: 4px;
  --border-radius-xs: 2px;
  --border-radius-xxs: 1px;
  --border-radius-m: 6px;
  --border-radius-l: 10px;

  /* padding: */
  --padding-button-standard: 6px 24px;
  --padding-card-standard: 24px;
  --padding-cell-standard: 12px 24px;
  --padding-tabs-standard: 12px 24px;

  /* text-field */
  --padding-text-field-standard: 6px 12px;
  --height-text-field-standard: 36px;

  /* text-area */
  --padding-text-area-standard: 6px 12px;
  --height-text-area-standard: 36px;

  /* border size */
  --border-size-standard: 1px;
  --border-size-bold: 2px;

  /* outline size */
  --outline-size-standard: 2px;

  /* icon size */
  --icon-size-s: 20px;
  --icon-size-m: 24px;
  --icon-size-l: 32px;

  /* scroll area sizes */
  --scroll-width: 4px;
  --scroll-height: 4px;

  /* badge padding sizes */
  --badge-standard: 2px;
}
