:root {
  /* border radius */
  --border-radius-s: 4px;
  --border-radius-xs: 2px;
  --border-radius-xxs: 1px;
  --border-radius-m: 6px;
  --border-radius-l: 10px;

  /* padding button */
  --padding-button-standard: 6px 28px;

  /* border size */
  --border-size-standard: 1px;

  /* outline size */
  --outline-size-standard: 2px;
}
