@mixin typography($fontSize, $lineHeight, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

.large {
  @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-600));
}

.h1 {
  @include typography(var(--font-size-xl), var(--line-height-l), var(--font-weight-700));
}

.h2 {
  @include typography(var(--font-size-l), var(--line-height-m), var(--font-weight-700));
}

.h3 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-600));
}

.regular_16 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-400));
}

.bold_16 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-700));
}

.regular_14 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-400));
}

.medium_14 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-500));
}

.bold_14 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-700));
}

.small {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-400));
}

.semi-bold_small {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-600));
}

.regular_link {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-400));

  color: var(--color-accent-500);
  text-decoration-line: underline;
}

.small_link {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-400));

  color: var(--color-accent-500);
  text-decoration-line: underline;
}

.error {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-400));

  color: var(--color-danger-500);
}

.badge {
  @include typography(var(--font-size-xxs), var(--line-height-xs), var(--font-weight-400));
}

.grey {
  color: var(--color-light-900);
}

.required {
  &::after {
    content: '*';
    color: var(--color-danger-500);
  }
}
