.card {
  width: 100%;
  padding: var(--padding-card-standard);
  border-radius: var(--border-radius-xs);
}

.default {
  background-color: var(--color-dark-500);
  border: var(--border-size-standard) solid var(--color-dark-300);
}

.semi-transparent {
  background-color: rgb(51 51 51 / 50%);
}

.transparent {
  background-color: transparent;
  border: none;
}
