.table {
  border-collapse: collapse;
  width: 100%;
  color: var(--color-light-100);
}

.tableHead {
  font-weight: var(--font-weight-semi-bold);
}

.cell {
  font-weight: var(--font-weight-regular);
}

.tableHead,
.cell {
  padding: var(--padding-cell-standard);
}

.header {
  background-color: var(--color-dark-500);
}

.tableRow {
  border: var(--border-size-standard) solid var(--color-dark-500);

  &:hover {
    // Применяем стили ко всем ячейкам, кроме <th>
    :not(th) {
      background-color: var(--color-dark-700);
    }
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
