.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.root {
  cursor: pointer;
  user-select: none;

  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;

  background-color: var(--color-dark-500);
  border-radius: var(--border-radius-rounded);

  .avatar_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-light-100);

  background-color: var(--color-dark-500);
  border-radius: var(--border-radius-rounded);
}

.xs {
  width: 36px;
  height: 36px;
}

.s {
  width: 48px;
  height: 48px;
}

.m {
  width: 72px;
  height: 72px;
}

.l {
  width: 192px;
  height: 192px;
}

.xl {
  width: 204px;
  height: 204px;
}

.xxl {
  width: 316px;
  height: 316px;
}

.fallBackIcon {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
}

.fallBackSmallIcon {
  width: var(--icon-size-xs);
  height: var(--icon-size-xs);
}

.avatar {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-m);
}
